<footer class="site-footer">
    <div class="container">
        <ul class="list-inline">
            <li class="list-inline-item footer-link">
                <a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank">RSS</a>
            </li>
            <li class="list-inline-item footer-link">
                <a href="https://github.com/{{ site.github_username }}" target="_blank">Github</a>
            </li>
            <li class="list-inline-item footer-link">
                <a href="https://facebook.com/{{ site.facebook_username }}" target="_blank">Facebook</a>
            </li>
            <li class="list-inline-item footer-link">
                <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">Twitter</a>
            </li>
        </ul>
        <p>Copyright &copy; 2020 {{ site.title }}</p>
    </div>
</footer>