@import url("Righteous.css");
@import url("Merriweather.css");
@import url("highlight.css");

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

body {
    padding-top: 4.5rem;
}

.navbar {
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    overflow: hidden;
}

.navbar.hide-nav {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

.navbar-light .navbar-toggler {
    border: none !important;
}

.my-navbar {
    background: rgba(255, 255, 255, .97);
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .20);
}

.main-heading {
    padding: 1rem 0rem;
}

.site-title {
    font-family: Righteous;
}


.section-title h2 {
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    font-weight: 700;
    font-size: 1.4rem;
    margin-bottom: 27px;
}

.section-title span {
    border-bottom: 1px solid rgba(0, 0, 0, .44);
    display: inline-block;
    padding-bottom: 15px;
    margin-bottom: -1px;
}

.card-footer {
    font-size: small;
    color: #aaa;
}

.site-footer {
    background-color: rgba(0, 0, 0, 0.9);
    color: #aaa;
    font-weight: 300;
    margin-top: 6em;
    padding-bottom: 50px;
    padding-top: 50px;
    text-align: center;
}

.footer-link a {
    color: #ccc;
}

.footer-link a:hover {
    color: #fff;
    text-decoration: underline;
}

.post-title {
    font-family: 'Merriweather Regular', Georgia, Cambria, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 36px;
}

.post-date,
.post-read {
    color: #aaa;
}

.badge-light {
    background-color: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.5);
}

blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: .25em solid #dfe2e5;
}