---
layout: default
---
<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto mt-3">
      <div class="main-heading">
        <h1 class="post-title">{{ page.title }}</h1>
        <div class="mb-3">
          <a class="link-dark" href="/about/">{% if post.author %}{{ post.author }}{% else %}{{ site.author }}{% endif %}</a><br>
          <div class="row">
            <div class="col-md-9">
              <span class="post-date">{{ page.date | date: "%-d %b %Y" }}</span> &bull; <span class="post-read">{{ page.timeread }} read</span>
            </div>
            <div class="col-md-3">
              <ul class="list-inline">
                <li class="list-inline-item"><a target="_blank" href="https://twitter.com/intent/tweet?text={{ page.title | url_encode }}%20by%20%40cikalstudio%20&url={{ page.url | prepend: site.url | url_encode }}"><svg width="29" height="29" class="q"><path d="M22.05 7.54a4.47 4.47 0 0 0-3.3-1.46 4.53 4.53 0 0 0-4.53 4.53c0 .35.04.7.08 1.05A12.9 12.9 0 0 1 5 6.89a5.1 5.1 0 0 0-.65 2.26c.03 1.6.83 2.99 2.02 3.79a4.3 4.3 0 0 1-2.02-.57v.08a4.55 4.55 0 0 0 3.63 4.44c-.4.08-.8.13-1.21.16l-.81-.08a4.54 4.54 0 0 0 4.2 3.15 9.56 9.56 0 0 1-5.66 1.94l-1.05-.08c2 1.27 4.38 2.02 6.94 2.02 8.3 0 12.86-6.9 12.84-12.85.02-.24 0-.43 0-.65a8.68 8.68 0 0 0 2.26-2.34c-.82.38-1.7.62-2.6.72a4.37 4.37 0 0 0 1.95-2.51c-.84.53-1.81.9-2.83 1.13z"></path></svg></a></li>
                <li class="list-inline-item"><a href="https://facebook.com/sharer/sharer.php?u={{ page.url | prepend: site.url | url_encode }}&quote={{ page.title | url_encode }}%20by%20%40cikalstudio%20" target="_blank"><svg width="29" height="29" class="q"><path d="M23.2 5H5.8a.8.8 0 0 0-.8.8V23.2c0 .44.35.8.8.8h9.3v-7.13h-2.38V13.9h2.38v-2.38c0-2.45 1.55-3.66 3.74-3.66 1.05 0 1.95.08 2.2.11v2.57h-1.5c-1.2 0-1.48.57-1.48 1.4v1.96h2.97l-.6 2.97h-2.37l.05 7.12h5.1a.8.8 0 0 0 .79-.8V5.8a.8.8 0 0 0-.8-.79"></path></svg></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% if page.images %}<img class="img-fluid mb-5" width="100%" src="{{ page.images }}" alt="">{% endif %}
<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="article-post">
          {% include toc.html html=content sanitize=true class="inline_toc" id="my_toc" h_min=3 h_max=5 %}
          {{ content }}
      </div>
      {% if page.tags %}
      <div class="my-4 border-bottom">
        <ul class="list-inline">
          {% for tag in page.tags %}
          <li class="list-inline-item"><a href="#" class="badge badge-light p-2">{{ tag }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% if page.related %}
<div class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <section class="py-4">
          <div class="section-title">
            <h2><span>Related Post</span></h2>
          </div>
          <div class="row">
            {% assign maxRelated = 4 %}
            {% assign minCommonTags = 2 %}
            {% assign maxRelatedCounter = 0 %}
            {% for post in site.posts %}
              {% assign sameTagCount = 0 %}
              {% assign commonTags = '' %}
              {% for tag in post.tags %}
                {% if post.url != page.url %}
                  {% if page.tags contains tag %}
                    {% assign sameTagCount = sameTagCount | plus: 1 %}
                    {% capture tagmarkup %} <span class="label label-default">{{ tag }}</span> {% endcapture %}
                    {% assign commonTags = commonTags | append: tagmarkup %}
                  {% endif %}
                {% endif %}
              {% endfor %}

              {% if sameTagCount >= minCommonTags %}
                <div class="col-3 mb-4">
                  <div class="card h-100">
                    <a href="{{ post.url | prepend: site.baseurl }}">
                      {% if post.thumbnail %}
                      <img src="{{ post.thumbnail }}" class="card-img-top" alt="{{ post.title }}">
                      {% else %}
                      <img src="/logo.jpg" class="card-img-top" alt="{{ post.title }}">
                      {% endif %}
                    </a>
                    <div class="card-body p-2">
                      <h6 class="card-title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h6>
                    </div>
                  </div>
                </div>
                {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
                {% if maxRelatedCounter >= maxRelated %}
                  {% break %}
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
{% endif %}

<div class="container mt-3">
  <div class="row">
    <div class="col-md-8 mx-auto">
      {% if page.comments %}
        {% if site.disqus_shortname %}
        <section class="py-4">{% include disqus.html %}</section>
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>

{% include footer.html %}